@import './../../../public/assets/styles/variable.css';

.footer {
    background-color: var(--color-footer);
    color: var(--color-text);
    padding: calc(var(--spacing-padding) / 2) var(--spacing-margin);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: calc(var(--spacing-margin) * 2); /* Для равномерного распределения секций */
}

.footer-section {
    flex: 1 1 250px; /* Уменьшен минимальный размер секции */
    margin: var(--spacing-margin);
}

.footer-section h3 {
    margin-bottom: calc(var(--spacing-margin) / 2);
    color: var(--color-link-hover);
    font-size: calc(var(--font-size-subheading) - 0.5rem); /* Уменьшен размер заголовка */
}

.footer-section p,
.footer-section a {
    color: var(--color-text);
    margin-bottom: calc(var(--spacing-margin) / 2);
    text-decoration: none;
    font-size: calc(var(--font-size-base) - 0.2rem); /* Уменьшен размер текста */
}

.footer-section a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

.social-icons {
    display: flex;
    gap: calc(var(--spacing-margin) / 2);
    justify-content: center;
    margin-top: calc(var(--spacing-margin) / 2);
}

.social-icons a {
    color: var(--color-text);
    font-size: 1.2rem; /* Уменьшен размер иконок для мобильных */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--color-link-hover);
}

/* Адаптивность */
@media (max-width: 768px) {
    .footer {
        padding: calc(var(--spacing-padding) / 2);
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-margin); /* Добавлен отступ между секциями */
        text-align: center;
    }

    .footer-section {
        flex: 1 1 auto; /* Позволяет секциям занимать всю ширину */
        margin: calc(var(--spacing-margin) / 2) 0;
    }

    .footer-section h3 {
        font-size: 1rem; /* Снижен размер текста для мобильных */
    }

    .footer-section p,
    .footer-section a {
        font-size: 0.85rem; /* Уменьшен размер текста */
    }

    .social-icons {
        margin-top: var(--spacing-margin);
    }

    .social-icons a {
        font-size: 1rem; /* Уменьшен размер иконок */
    }
}
