@import './../../../public/assets/styles/variable.css';

/* Общие стили */
.booking-page {
    padding: var(--spacing-padding);
    font-family: var(--font-family);
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: center;
}

.booking-page h1 {
    color: var(--color-link-hover);
    margin-bottom: var(--spacing-margin);
}

.booking-page p {
    font-size: calc(var(--font-size-base) + 0.2rem);
    margin-bottom: calc(var(--spacing-margin) * 2);
}

/* Форма */
.booking-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--color-background);
    padding: var(--spacing-padding);
    border-radius: var(--spacing-border-radius);
    box-shadow: 0 4px 10px var(--color-card-shadow);
}

.form-group {
    margin-bottom: var(--spacing-margin);
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: calc(var(--spacing-margin) / 2);
    font-weight: bold;
    color: var(--color-muted-text);
}

.form-group input {
    width: 100%;
    padding: calc(var(--spacing-padding) / 2);
    border: 1px solid var(--color-secondary);
    border-radius: calc(var(--spacing-border-radius) / 2);
    font-size: var(--font-size-base);
}

.form-group input:focus {
    border-color: var(--color-link);
    outline: none;
}

/* Сообщение */
.message {
    margin: var(--spacing-margin) 0;
    color: var(--color-link-hover);
    font-weight: bold;
}

/* Кнопка отправки */
.submit-button {
    width: 100%;
    padding: calc(var(--spacing-padding) / 2);
    background-color: var(--color-link);
    color: var(--color-background);
    border: none;
    border-radius: calc(var(--spacing-border-radius) / 2);
    font-size: calc(var(--font-size-base) + 0.2rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--color-button-hover);
}

/* Адаптивность */
@media (max-width: 768px) {
    .booking-form {
        padding: calc(var(--spacing-padding) / 2);
    }

    .form-group input {
        font-size: calc(var(--font-size-base) - 0.2rem);
    }

    .submit-button {
        font-size: var(--font-size-base);
    }
}
